/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
	height: 100%;
}
body {
	padding: 0;
	text-align: center;
	position: relative;
	margin: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.boxTitle h1, .boxTitle h2{
	font-size: 8em;
	line-height: 1em;
	color: white;
}
.boxTitle h2{font-size: 4em;}

body {
	background: url(images/tum_rainbow.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.box {
	background-color: rgba(255,255,255,0.9);
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	font-size: 18px;
}

#credits {
	position: fixed;
	right: 20px;
	bottom: 10px;
	color: #fff;
}
#credits a {
	color: #fff;
}