<div class="wrapper">
    {% include main_tpl %}
</div>

<div id="credits">
    <a href="http://dallago.us" target="blank">Christian Dallago</a> &amp; <a href="http://bruck.me" target="blank">Kordian Bruck</a>
</div>

<!-- page components -->
<script src="/vendor/components/jquery/jquery.min.js" ></script>
<script src="/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js" ></script>

<!-- own scripts -->
<script src="/script.js"></script>