<!DOCTYPE html>
<html>
<head>
    <style type="text/css" type="text/javascript">
        {% include /css/onepage-scroll.css %}
        {% include /css/main.css %}
    </style>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico:400' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="black">


    <title>TUM + CSD = 🤓🌈❤️</title>
    <meta name="description" content="Komm mit der Technischen Universität München zu dem Münchner Christopher Street Day! // Come on the TUM's Truck for the Christopher Street Day in Munich!" />


    <!--Facebook OPG-->
    <meta property="og:title" content="TUM + CSD = 🤓🌈❤️" />
    <meta property="og:type" content="website.event" />
    <meta property="og:url" content="http://csd.tum.sexy" />
    <meta property="og:image" content="http://christian.dallago.us/tum_csd/assets/images/TUM_bunt_rainbow.png" />
    <meta property="og:video" content="http://christian.dallago.us/tum_csd/assets/videos/stitces.webm" />
    <meta property="og:description" content="Komm mit der Technischen Universität München zu dem Münchner Christopher Street Day!" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">
    <!--<meta name="twitter:site" content="@publisher_handle">-->
    <meta name="twitter:title" content="TUM + CSD = 🤓🌈❤️">
    <meta name="twitter:description" content="Komm mit der Technischen Universität München zu dem Münchner Christopher Street Day! // Come on the TUM's Truck for the Christopher Street Day in Munich!">
    <meta name="twitter:creator" content="@sacdallago">
    <meta name="twitter:image" content="http://christian.dallago.us/tum_csd/assets/images/TUMrainbowsmall.png">


</head>

<body id="page-top" class="index, disabled-onepage-scroll">

<div class="wrapper">
    <div class="main">

        <div class="fullscreen-bg">
            <video autoplay preload="auto" loop="loop" muted="muted" poster="assets/images/tum_rainbow_smaller.jpg" class="fullscreen-bg__video">
                <source src="assets/videos/stitces.webm" type="video/webm">
                <source src="assets/videos/stitces.mp4" type="video/mp4">
                <source src="assets/videos/stitces.ogv" type="video/ogg">
            </video>
        </div>

        <section id="section07" class="page1">
            <div class="page_container" style="height: 100%;">
                <div class="tumlogo">
                    <img src="assets/images/TUM_bunt_rainbow.png">
                </div>


                <div class="scroll"><span></span><span></span><span></span></div>
            </div>
        </section>

        <section class="page2">
            <div class="page_container" style="height: 100%">

                {{ content }}

                <div class="pics">
                    {% for image in site.static_files %}
                    {% if image.path contains 'assets/photos' %}
                    <img src="{{ image.path }}" height="350px" alt="">
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="credit txt">
                    Event organization: <a href="http://bruck.me" target="blank">Kordian Bruck</a> <br />
                    Webpage & UI: <a href="http://dallago.us" target="blank">Christian Dallago</a> <br />
                    Design & Gfx: <a href="http://decentbi.tumblr.com/">Benedict Gruber</a> <br />
                </div>
            </div>
        </section>
    </div>
</div>

<script src="assets/one.js"></script>

<script>
    onePageScroll(".main", {
        sectionContainer : "section",
        loop : true,
        updateURL: false,
        pagination: false,
        responsiveFallback : false
    });
</script>

</body>
</html>
