<!DOCTYPE html>
<html>
<head>
    <style type="text/css" type="text/javascript">
        {% include /css/onepage-scroll.css %}
        {% include /css/main.css %}
    </style>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico:400' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blac">
    <title>TUM CSD</title>
</head>

<body id="page-top" class="index, disabled-onepage-scroll">

<div class="wrapper">
    <div class="main">
        {{ content }}
    </div>
</div>

<script src="assets/one.js"></script>

<script>
    onePageScroll(".main", {
        sectionContainer : "section",
        loop : true,
        updateURL: false,
        pagination: false,
        responsiveFallback : false,
    });
</script>

</body>
</html>