<div class="wrapper">
    {% include main_tpl %}
</div>

<div id="credits">
    <a href="http://dallago.us" target="blank">Christian Dallago</a> &amp; <a href="http://bruck.me" target="blank">Kordian Bruck</a>
</div>

<!-- page components -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<!-- own scripts -->
<script src="script.js"></script>