<
>Exzellenz ist bunt! Die TUM auf dem CSD 2017 - #LGBTUM</title>
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=no"/>
<meta charset="UTF-8">

<meta name="title" content="TUM @ CSD 2017 - #LGBTUM">
<meta name="description" content="Exzellenz ist bunt! Die TUM auf dem CSD 2017 - #LGBTUM">
<meta name="keywords" content="no">
<meta name="author" content="Christian Dallago, Kordian Bruck">
<meta name="copyright" content="Christian Dallago, Kordian Bruck 2017">
<meta http-equiv="Reply-to" content="code@dallago.us">
<meta http-equiv="content-language" content="en">
<meta http-equiv="Content-Type" content="text/html; iso-8859-1">
<meta name="ROBOTS" content="INDEX,FOLLOW">
<meta name="creation_Date" content="06/14/2017">
<meta name="revisit-after" content="7 days">

<meta name="fragment" content="!">

<!-- Open Graph Meta Tags -->
<meta property="og:type" content="website"/>
<meta property="og:title" content="TUM @ CSD 2017 - #LGBTUM"/>
<meta property="og:description" content="Exzellenz ist bunt! Die TUM auf dem CSD 2017 - #LGBTUM"/>
<meta property="og:site_name" content="TUM @ CSD 2017 - #LGBTUM"/>
<meta property="og:url" content="http://csd.asta.tum.de"/>
<meta property="og:locale" content="en_US">
<meta property="og:image" content="https://c1.staticflickr.com/5/4213/35567916696_710bc1d6b0_b.jpg" />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="SUMMARY"/>
<meta name="twitter:title" content="TUM @ CSD 2017 - #LGBTUM"/>
<meta name="twitter:description" content="Exzellenz ist bunt! Die TUM auf dem CSD 2017 - #LGBTUM"/>
<meta name="twitter:image" content="https://c1.staticflickr.com/5/4213/35567916696_710bc1d6b0_b.jpg" />


<!-- Import styles -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous">

<!-- Custom styles -->
<link rel="stylesheet" href="style.css">
