<section>
    <br/><br/>
    <div class="boxTitle">
        <h2>#LGBTUM</h2>
        <h1>Exzellenz ist Bunt!</h1>
    </div>
    <div class="box">
        <strong>[For English, follow the link "Jetzt für den CSD 2017 anmelden!" below]</strong>
        <br />
        Die Studentische Vertretung der Technische Universität München stellt dieses Jahr einen Wagen für den Christopher Street Day! Du willst teilnehmen? Hier die Eckdaten:
        <br/><br/>
        <ul class="text-left">
            <li>
                <b>Wann?</b>
                <br/>
                Am 15.07.2017 zwischen 9:30 - 16:00 Uhr
            </li>
            <li>
                <b>Wo?</b><br/>
                In der Münchner Innenstadt
            </li>
            <li><b>Kosten?</b><br/>
                Keine! Wenn du ein T-Shirt im freshen TUM rainbow möchtest, kannst du im nächsten Schritt eines bestellen
            </li>
            <li>
                <b>Anmeldung?</b><br/>
                <a href="https://helfen.fs.tum.de/csd/">Hier</a>. Trage dich einfach ein und du bist im Lostopf. Das Los entscheidet am 03.07.2017 ob du dabei bist
            </li>
            <li><b>Und Getränke?</b><br/>
                Für Bier und alkoholfreie Durstlöscher wird gesorgt sein
            </li>
        </ul>

        Sollte dein Name nicht aus dem Lostopf gezogen werden, kannst du immer noch das T-Shirt haben und mit dem Wagen über die Parade laufen.
        Als Münchner Universität wollen wir die Gelegenheit nutzen, um gegen Diskriminierung zu kempfen und für die Rechte der LGBT-Gemeinde zu stehen.
        Daher freuen wir uns über viele Anmeldungen und hoffen, dass die Parade und unser Truck ein Erfolg wird.<br/><br/>

        <i>Bitte beachte, dass es sich um ein Angebot ausschließlich für TUM Studierende handelt. Bitte melde dich unbedingt mit deiner TUM e-Mail Adresse an.</i><br/><br/>

        <a href="https://helfen.fs.tum.de/csd/" class="btn btn-success btn-lg">Jetzt für den CSD 2017 anmelden!</a><br /><br />

        Wir suchen auch noch Helfer! <a href="https://helfen.fs.tum.de/csd17helfen/" class="btn btn-primary btn-sm">jetzt Helfer werden!</a><br/><br/>

        Für Fragen und Anregungen richte dich an das Queer Referat der Studentischen Vertretung der TUM: <a href="mailto:queer@fs.tum.de">queer@fs.tum.de</a><br/><br/>

        <a href="http://www.asta.tum.de/fp/impressum/">Impressum</a> |<a href="https://www.asta.tum.de/studentische-vertretung/asta/aemter/queer/">Das Queer Referat</a> | <a href="https://www.facebook.com/qrtum/">Wir auf Facebook</a>
    </div>
</section>
